<fieldset>
    <legend>Edit Movie</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='movie-title'>Title</label><br>
        <input class='form-control' id='movie-title' type='text' name='title' value='{{ movie.title }}' />
    </div>

    <!-- RATINGS -->
    <div class="form-group">
        <label>How would you rate it?</label>
        <select name="ratings" id="ratings-dropdown">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ movie.description }}' />
    </div>

    <!-- Videos  -->
    <div class='form-group'>
        <label for='movie-videos'>Videos</label><br />
        <p class='text-muted'>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea class='form-control' id='movie-videos' name='videos' rows='10' />{{ "\n".join(movie.videos) }}</textarea>
    </div>
</fieldset>

<!-- BUTTON -->
<p>
    <button type="menu"><a href="/">Cancel</a></button>
</p>

<!--
    <div class='form-group'>
        <label for=''>Link to Purchase Movie</label><br>
        <input id='link' type='text' name='link' value='{{ movie.link }}' />
    </div>
      <div>
    <h2>Buy for $5.00</h2>
    <form action="/charge" method="post">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{ key }}"
        data-description="A Flask Charge"
        data-amount="500"
        data-locale="auto">
      </script>
    </form>
  </div>
-->