<!-- templates/partials/playlists_form.html -->
<fieldset>
    <legend>Edit Movie</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='movie-title'>Title</label><br>
        <input class='form-control' id='movie-title' type='text' name='title' value='{{ movie.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ movie.description }}' />
    </div>

    <!-- Link -->
    <div class='form-group'>
        <label for='link'>Link to Purchase Movie</label><br>
        <input id='link' type='text' name='link' value='{{ movie.link }}' />
    </div>

    <!-- VIDEO LINKS -->
    <div class='form-group'>
        <label for='movie-videos'>Videos</label><br/>
        <p class='text-muted'>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea class='form-control' id='movie-videos' name='videos' rows='10' />{{ "\n".join(movie.videos) }}</textarea>
    </div>
      <div>
    <h2>Buy for $5.00</h2>
    <form action="/charge" method="post">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{ key }}"
        data-description="A Flask Charge"
        data-amount="500"
        data-locale="auto">
      </script>
    </form>
  </div>
</fieldset>

<!-- BUTTON -->

    <div class='form-group'>
        <label for=''>Link to Purchase Movie</label><br>
        <input id='link' type='text' name='link' value='{{ movie.link }}' />
    </div>


