<!-- templates/base.html -->

<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Movies</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='{{ url_for('static', filename='css/style.css')}}'>

    <link rel='stylesheet' href='https://bootswatch.com/4/superhero/bootstrap.min.css'>
</head>

<body>
    {% include 'partials/navbar.html' %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

<br>
<br>
<br>
<br>
    <!-- Footer -->
<div class="container-fluid text-center">
    <hr />
  <div class="row">
      <div class="col-md-12">
        <div class="footer-content">
            <a href="https://www.linkedin.com/in/andrewilliams22/">About us</a>
            <a href="https://medium.com/me/stories/public">Blog</a> 
            <a href="https://trailers.apple.com/">Sources</a>
            <a href="https://playlister-aw.herokuapp.com/">Other Products</a>
            <a href="https://en.wikipedia.org/wiki/Web_analytics">Web analytics</a></p>  
            <a href="https://piktochart.com/blog/startup-pitch-decks-what-you-can-learn/">Presentations</a>     
            <a href="https://stripe.com/docs/api">Developer API Documentation</a>
            <h1 class="copyright">&copy 2019 Vivio</h1>
        </div>
  </div>
</div>

    <!-- Latest compiled and minified JavaScript -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>