<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
    <form method='POST' action='/movies'>
            {% include 'partials/movies_form.html' %}
                        <!-- BUTTON -->
                    <div class='form-group'>
                        <button class='btn btn-primary' type='submit'>Save Movie</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
{% endblock %}